.success-msg{
    border: 3px solid olivedrab;
    background-color: rgb(171, 224, 171);
    color: rgb(2, 80, 2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}
.error-msg{
    border: 3px solid rgb(142, 35, 35);
    background-color: rgb(224, 171, 171);
    color: rgb(80, 2, 2);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}